body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.father {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap-re;
}

.box {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 1px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}